.body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.home{
    background-image: url(./donate-today-main/images/donation11.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    background-size: cover;
    text-align: center;
}
.main{
    display: inline-block;
    font-size: 30px;
    margin-top: 20%;
}
.btn-bn{
    text-decoration: none;
    background-image: linear-gradient(180deg, salmon,yellow);
    border-radius: 10px;
    padding: 15px;
}
.donate-service{
   text-align: center;
}
.donate-service .donate-box{
    display: inline-block;
    margin: 40px;
    padding: 10px;
    
}
.donate:hover{
    padding: 20px 10px;
    background-color: rgba(192, 135, 135);
    border: 1px solid red;
    border-radius: 10%;
}
.plan-site{
    text-align: center;
}
.exprence-area{
    display: flex;
    justify-content: center;
    
}
.box{
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #57a4a4;
}
.box img{
    width: 20%;
}
.box1{
    width: 50%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(151, 187, 79);
}
.box1 img{
    width: 20%;
}
.box2{
    width: 50%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(73, 152, 73);
}
.container-area{
    display: flex;
}
.part-1{
 width: 50%;
 padding-left: 5%;
}
.part-1 img{
    width: 80%;
    height: 300px;
}
.botton{
    text-align: center;
    background-color: #57a4a4;
    margin: 40px 30px;
    padding: 60px 40px;
}
.sub-bn{
    background-color: white;
}
.raiter{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}